<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="LauncherConfig" type="Sample.ChatConfig, Server" />
  </configSections>

  <LauncherConfig>
    <logconfig name="日志配置文件" file="log4net.config" />

    <redisnodes>
      <!--node name="redis库"
            type="Chat"
            guid="{D49A172A-00DD-4E8D-AB21-490F35A560A2}"
            ip="127.0.0.1"
            port="6379"
            pwd="" /-->
    </redisnodes>

    <servers>
      <node name="聊天服务器"
            type="Chat"
            class="Sample.ChatServer, Server"
            guid="{12B3E06E-6CFF-4BC8-8DF9-67F03273C299}"
            ip="127.0.0.1"
            port="6001"
            pwd="">
      </node>
    </servers>
  </LauncherConfig>

</configuration>
